@charset "utf-8";
@import url("pretendard-font.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "pretendard", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #161822;
}
i {
  font-style: normal;
}
html {
  font-size: 12px;
}
body {
  /* font-size: 1.3rem; */
}

/* <!-- 배경사진 --> */
.main-bg {
  width: 100%;
  background: url("../images/main-bg.png") no-repeat center;
}

h3 {
  padding: 150px 0 100px;
  font-size: 5rem;
  color: white;
}
/* 가로 1200px */
.container {
  width: 1200px;
  margin: 0 auto;
}
.menu-toggle-btn {
  display: none;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<!-- 헤더 --> */
header {
  width: 100%;
  z-index: 9;
  position: fixed;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
/* 로고 */
.logo111 {
  display: none;
}
.logo img {
  width: 200px;
  height: 45px;
}
.logo img a {
  width: 100%;
  height: 100%;
}
/* 네비 */
nav {
  line-height: 45px;
  z-index: 999;
}
.main-menu {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.main-menu li:hover a {
  color: #8fb3e2;
}
.main-menu li a {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0 0 45px;
  /* 대문자 */
  text-transform: uppercase;
}
.main-menu1 li:hover a {
  color: #8fb3e2;
}
.main-menu1 {
  display: none;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<!-- 메인 --> */

/* <!-- 텍스트  Asia’s top-tier startup accelerator --> */
.main-inner {
  position: relative;
  text-align: center;
}

.top-tier {
  text-align: right;
  font-size: 115px;
  color: white;
  text-transform: capitalize;
  display: block;
  padding-top: 230px;
}
/* <!-- 아래버튼 --> */
.btn-down {
  width: 100%;
  padding: 100px 0;
}
.btn-down img {
  width: 55px;
  height: 55px;
}

/* 섹션 전체 */

.section {
  background-color: #161822;
  padding-bottom: 5rem;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<!-- 섹션1 ACCELERATOR COMPANY--> */

.section-01 {
  width: 100%;
  text-align: center;
}

.section-01-inner {
  width: 100%;
  margin: 0 auto;
}
/* 플러슽버튼 */
.fa-thin {
  font-weight: 100;
  color: white;
  font-size: 300px;
}

.section-01-inner p {
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 100px 0;
  line-height: 1.5;
  word-break: keep-all;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<!-- 섹션2 We Climb Together--> */
.section-02 {
  width: 100%;
  text-align: center;
}

.section-02 .arrow-bg img {
  height: 400px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<!-- 섹션3 since 2023 --> */

.section-03-inner h4 {
  color: #505050;
  display: flex;
  justify-content: center;
  padding: 65px 0;
  text-transform: uppercase;
  font-size: 2rem;
}

.investment-area-1 {
  display: flex;
  justify-content: space-around;
  padding: 0 20px 100px 20px;
}
.investment-area-1 .top {
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.investment-area-1 .bottom {
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: baseline;
}
.investment-area-1 .left {
  color: #8fb3e2;
  font-size: 6rem;
}
.investment-area-1 .right {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<!-- 섹션4 뉴스 비디오 --> */

.section-04 {
  width: 100%;
  background-color: #f4f4f4;
}

/* news video 타이틀 */
.insight-title {
  font-size: 4.5rem;
  font-weight: 700;
  padding: 100px 0 35px 0;
}

/* 뉴스 */
.news {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  /* word-break: keep-all; */
}
.news li {
  background-color: #fff;
}

.news li a {
  width: 100%;
}
.news li a img {
  width: 100%;
  display: block;
}

.news-item {
  padding: 15px 10px 10px 10px;
}
.news-item-title {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 2.5rem;
  font-weight: 700;
}
.news-item-date {
  color: #6f6f6f;
  font-size: 1.3rem;
  padding-top: 10px;
}
/* 비디오 */
.video {
  display: flex;
  justify-content: space-around;
}
.video li {
  width: 50%;
}
.video li:last-child {
  margin-left: 1%;
}
.video li a {
  width: 100%;
}
.video li img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.video-item-title {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
}

/* 더 많은 소식 보러가기 */
.insight-more-button-area {
  align-items: center;
  display: flex;
  justify-content: center;
}
.insight-more-button {
  border: 1px solid #21314b;
  color: #21314b;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  height: 52px;
  width: 25rem;
  margin: 127px auto;
  line-height: 52px;
  text-align: center;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<!-- 풋터 --> */

footer {
  background-color: #f7f7f7;
}
.footer-top {
  width: 100%;
  padding: 30px 35px 60px;
  display: flex;
  justify-content: space-between;
}
.footer-top img {
  width: 200px;
  height: 45px;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  color: #404040;
  font-size: 1.3rem;
}

.footer-list li {
  padding: 0 0 10px 30px;
}

/* 카피라이터 */
.copyright {
  color: #404040;
  display: flex;
  font-size: 11px;
  justify-content: center;
  text-align: center;
  opacity: 0.58;
  padding: 10px 0;
}
