@media all and (max-width: 1300px) {
  .top-tier {
    padding-right: 20px;
  }
  .header-inner {
    padding: 10px 20px;
  }
}
@media all and (max-width: 1200px) {
  html {
    font-size: 10px;
  }

  header {
    padding: 10px 20px;
  }
  /* 이렇게 해줘야 네비가 풀어짐 */
  .container {
    width: 100%;
    padding: 10px 20px;
  }

  .logo a .logo111 {
    display: block;
    width: 100px;
  }
  .logo a img {
    display: none;
  }
  .main-menu1 {
    display: none;
  }
  .main-menu li a {
    font-size: 1.4rem;
    padding: 0 0 0 30px;
  }

   /* <!-- 섹션1 --> */   
  .top-tier {
    text-align: right;
    font-size: 8rem;
    color: white;
    padding: 230px 5% 0 0;
  }




}

@media all and (max-width: 1000px) {
  /* <!-- 섹션4 뉴스 비디오 --> */
  .new li {
    width: 50%;
  }

  .investment-area-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .investment-area-1 li {
    flex-basis: calc(50% - 10px);
  }
  .investment-area-1 .bottom {
    justify-content: center;
    align-items: baseline;
    gap: 5px;
  }
}

@media all and (max-width: 880px) {
  .footer-top {
    gap: 50px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-list li {
    padding: 0 10px 10px 0;
    font-size: 1.1rem;
  }
}

@media all and (max-width: 770px) {
  /* 메뉴 */
  .main-menu {
    display: none;
  }

  /* 햄버거 */
  .menu-toggle-btn {
    font-size: 30px;
    display: block;
    border: none;
    background: none;
    color: #fff;
  }
  /* 햄버거 누를 때 나오는 메뉴 */
  .main-menu1 {
    display: block;
    width: 250px;
    height: 100%;
    /* 처음에는 메뉴를 오른쪽 화면 밖으로 위치시켜라 */
    position: fixed;
    top: 0;
    right: 250px;
    /* 오른쪽에 있던 메뉴를 메인 메뉴에 나타내라 */
    position: fixed;
    top: 0;
    right: -250px;
    /* 메인 사진글씨보다 위로가라. */
    z-index: 2;

    background-color: whitesmoke;
    padding: 20px 25px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
  }
  .main-menu1 a {
    color: #000;
    font-size: 18px;
    padding: 12px 25px;
    font-weight: 900;
  }
  /* 네비 눌렀을 때 바탕 어둡게 */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); /* Adjust the alpha value for transparency */
  }
}

@media all and (max-width: 700px) {
  /* 챕터4 */
  .news {
    flex-wrap: wrap;
  }
  .news li img {
    height: auto;
  }
  /* news video 타이틀 */
  .insight-title {
    font-size: 3.8rem;
  }
}

@media all and (max-width: 600px) {
  /* 섹션1  */
  .section-01-inner p {
    font-size: 1.8rem;
  }
  /* <!-- 섹션4 뉴스 비디오 --> */
  .investment-area-1 .top {
    font-size: 1.4rem;
  }
  .investment-area-1 .left {
    font-size: 4rem;
  }
.investment-area-1 .right {
    font-size: 2rem;
}
}

@media all and (max-width: 520px) {
  .top-tier {
    font-size: 6rem;
  }
  .btn-down {
      padding: 50px 0 100px;
  }
  /* 섹션1  */
  .section-01-inner p {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 480px) {
  /* 풋터 */
  .footer-list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-list .list {
    flex-basis: calc(50% - 10px);
    margin: 5px;
  }
}

@media all and (max-width: 430px) {
  html {
    font-size: 9px;
  }
  h3 {
    font-size: 4rem;
    padding: 150px 0 50px;
  }
  header {
    padding: 0;
  }

  .top-tier {
    font-size: 5rem;
  }
  .section-01-inner p {
    font-weight: 100;
  }

  .fa-thin {
    font-size: 200px;
  }

  /* <!-- 섹션4 뉴스 비디오 --> */
  .video {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .video li {
    width: 100%;
  }

  .insight-more-button {
    margin: 80px auto;
  }

  /* 풋터 */
  .footer-list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-list .list {
    flex-basis: calc(50% - 10px);
    margin: 5px;
  }
}


@media all and (max-width: 430px) {
.container{
  padding: 10px;
}

  .investment-area-1 {
    padding: 0 0px 20px 0px;
    gap: 10px;
  }
}